
.Container{
    
    
    display: grid;
    margin: 10px;
    justify-content: center;
  
    
}


form{
    margin: 30px;
    display: grid;
    background-color: gainsboro;
    grid-template-columns: 1fr;
    width: 300px;
    padding: 50px;
}
label{
    padding: 10px;
}

input{
    height: 40px;
}
button{
    margin-top: 10px;
    width: max-content;
    height: 40px;

}

